.transparent {
    background-color: transparent;
}
.file-grid {
    padding: 0em;
}

.file-grid {
    padding: 5px; 
}

.file-grid > * {
    padding: 5px;

    border-radius: calc(0.5em + 5px / 2);
}

.wallpaper {
    border-radius: .5em;
}
